header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../assets/fon_header.jpg');
    /* z-index: 1; */
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-blend-mode: multiply;
    background-color: #e9ded4;
}

header {
    position: relative;
    background-color: #e9ded4;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

    /* background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAeAB4AAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCAFyATgDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;  */

    /* background-image: url('https://s3-alpha-sig.figma.com/img/970b/3723/d49b12f28dde28847882a4abcd9cb75b?Expires=1722211200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JBgT33DbBcNxGyuV4ee7WC-ejMLYSVcnFOcaZZYk~4V-680bNGBGRimrjZxbPdm4JNndF~~HwHctBcKsQSRuKsJDMxMGe-AorfHqPTj39sWle9Qm4a1kL5IpEBsXIJnhur6ERiP1xkkdVhBcVNAzuM3-Zqq34iM6P2ZBy3lgvzlAM5YMYwPwTP~yj0vVxffDQIMMcH~sv9L8NV2U1LmACippfMjq2kxAf0Nx5Gkv476dqDsfW5KQFz0hNYpraoJD14YIp8G5peMAgqvz5o4s5HCYlzR94~1QOEVngMJQilLHi~H6AY5r8lRQPs3PffY7TQEwuzgnPrQ3q7KMqi-Lbg__'); Изображение текстуры */
    /* background-size: cover; */
    /* background-size: 100% 180%; */
    /* background-repeat: repeat;  */
    /* background-blend-mode: multiply; */

    /* background-image: url('../assets/fon_header.jpg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.logo {
    display: flex;
    position: absolute;
    top: 1.9em;
    left: 11.8em;
}

.club-four {
    /* position: absolute;
    top: 0;
    left: 0; */
    font-family: 'Golos Text', sans-serif;
    font-size: 16.65px;
    font-weight: 700;
    line-height: 17.98px;
    letter-spacing: 0.007em;
    color: #595653;
    margin: 0 0 0 0.32em;
}

.horses-logo {
    display: flex;
    gap: 0.1em;
}

.horses-logo img {
    /* display: block;
    margin: 0;
    padding: 0; */
    width: 21.65px;
    height: 31.18px;
}

.transform-city {
    position: absolute;
    top: 7.9em;
    left: 11.8em;
}
